.jaxcover {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 5;
}
.jaxcontent {
	font:normal 12px verdana;
        width: 450px;
        padding:10px 10px;
        background: #ddd;
        color:#000;
        font-size:9pt;
	line-height:15px;
        border: 5px solid #B20707;
        border-radius: 10px;
        position: fixed;
        z-index: 10;
	text-align: center;
}
.jaxcontent table {
	color: #222;
}
.jaxclose {
        position: absolute;
        top: 5px;
        right: 10px;
        color: #000;
        text-decoration: none;
        font-weight: bold;
}
.jaxclose:hover {
        text-decoration: underline;
}

.jax:link, .jax:visited { text-decoration:none; color:blue; }
.jax:hover { text-decoration:none;border:0; border-bottom:dotted 1px #ff9900; color:#ff9900; }

.saved:link, .saved:visited {	text-decoration:none; color:#ff9900; font: bold 12px verdana; }
.saved:hover {	color: white; }